@media screen and (max-width: 740px) {
    .project .project-title {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .menu {
        display: none;
        width: 100%;
        left: 0;
        position: absolute;
    }

    #pointing-arrow {
        font-size: 5em;
    }

    .site-title:not(a) {
        font-size: 50%;
    }

    #header-resume-link {
        font-size: 16px;
    }

    .coursework {
        margin-top: 0px;
    }

    .skill {
        width: 280px;
    }

    #footer-title {
        top:35%;
        font-size:40%;
        padding-left: 0;
        padding-top: 30px;
        padding-right: 0;
    }

    .links {
        left:50%;
        margin: 0;
        transform: translate(-50%);
        bottom: 50px;
    }

    .footer-menu {
        display: none;
    }

    #download-link {
        bottom:40px;
    }
}

