@media screen and (max-width: 720px) {
    .project .project-title {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .menu {
        display: none;
        width: 100%;
        left: 0;
        position: absolute;
    }

    .home-header > .quote {
        background: rgba(255, 255, 255, .7);
        padding: 10px;
        width: fit-content;
    }

    .home-header .quote hr {
        display: block;
    }

    .home-header {
        position: absolute;
        top: 0;
    }

    .topnav li,
    .dropdown-content {
        float: none;
        width: 100%;
    }

    .dropdown-content a {
        text-align: center;
    }

    .coursework {
        margin-top: 0px;
    }

    .skill {
        width: 280px;
    }

    #footer-title {
        top:35%;
    }

    .links {
        position: absolute;
        transform: translate(-50%);
        left: 50%;
        bottom: 12px;
    }
}

