html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: #236dc6;
  height: 100%;
  font-family: Garamond, "Times New Roman", serif;
  font-size: 16px;
  margin:0;
  padding: 0;
}

#header {
    margin: 0;
    padding: 0;
}

.menu {
  position: fixed;
  left: 75%;
  top: 0%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav li {
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.topnav li a, .dropbtn {
  background-color: #16467e;
  text-align: center;
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.topnav li.dropdown {
  display: block;
}

.dropdown-content {
  display: none;
  transition: all 0.5s ease;
  opacity: 0;
  position: absolute;
  width: fit-content;
}

.dropdown-content a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.topnav li a:hover:not(.active) {
  background-color: #236dc6;
}

.topnav li a.active:hover {
  background-color: #ffea97;
}

.topnav li a.active {background-color: #FFCB05; color: black;}

.site-title {
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: fit-content;
}

.home-header {
  background-image: url("img1.jpg");
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header > .quote {
  background: rgba(255, 255, 255, .7);
  padding: 40px;
}

.quote hr {
    display: none;
}

.bar {
  background-color: #16467e;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
  background-color: #236dc6;
  position: relative;
  width: 100%;
  top: 100%;
  padding: 0;
  z-index: 1;
}

.home-page > .page-header {
    text-align: center;
    font-size: 30px;
    color: #FFCB05;
    margin-bottom: 0;
}

.home-page > .home-tab {
  position: sticky;
  top: 0;
  width: fit-content;
  background-color: #FFCB05;
  padding: 10px;
  padding-right: 40px;
  padding-left: 100px;
  text-align: right;
  z-index: 1;
}

//.home-page p {
  position: relative;
  font-family: serif;
  font-size: 18px;
  background: rgba(255, 255, 255, .5);
  width: 80%;
  height: 300px;
  left: 10%;
}

.skill-container {
    display: flex;
    justify-content: center;
}

.skill {
    display: list-item;
    width: 400px;
    height: 20px;
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    position: relative;
    top: 6px;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    background-color: #FFCB05;
    border-radius: 50%;
    display: inline-block;
}

.links {
    //background-color: grey;
    position: absolute;
    width: fit-content;
    left: 75%;
    bottom: 12px;
}

.links a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo {
    //background-color: grey;
    padding: 10px;
    margin: 0;
    height: 30px;
}
