html {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

body {
  background-color: #236dc6;
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  margin:0;
  padding: 0;
}

.menu {
  width: 130px;
  text-align:center;
  position: fixed;
  right: 20px;
  top: 0%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.topnav {
    display: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
  margin: 0;
  padding: 0;
}

.topnav li a {
  background-color: #16467e;
  text-align: center;
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu .topnav.show {
    display: block;
}



.topnav li a:hover:not(.active) {
  background-color: #236dc6;
}

.topnav li a.active:hover {
  background-color: #ffea97;
}

.topnav li a.active {background-color: #FFCB05; color: black;}

.site-title {
    position: relative;
    text-align: center;
    margin: 0 auto;
    transform: translateY(-50%);
    //left: 50%;
    top: 50%;
    width: 500px;
}

.home-header {
  background-image: url("img1.jpg");
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header > .quote {
  background: rgba(255, 255, 255, .7);
  padding: 40px;
}

.quote hr {
    display: none;
}

.bar {
  background-color: #16467e;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
  background-color: #236dc6;
  position: relative;
  width: 100%;
  top: 100%;
  padding: 0;
  z-index: 1;
}

.home-page .page-header {
    text-align: center;
    font-size: 30px;
    color: #FFCB05;
    padding-top: 20px;
    margin: 0;
}

    .home-page .header-line {
        margin: auto;
        text-align: center;
        background-color: #FFCB05;
        border: none;
        height: 2px;
    }

.home-page > .home-tab {
  position: sticky;
  top: 0;
  width: fit-content;
  background-color: #FFCB05;
  padding: 10px;
  padding-right: 40px;
  padding-left: 100px;
  text-align: right;
  z-index: 1;
}

//.home-page p {
  position: relative;
  font-family: serif;
  font-size: 18px;
  background: rgba(255, 255, 255, .5);
  width: 80%;
  height: 300px;
  left: 10%;
}

.education {
    font-size: 18px;
    color: white;
    text-align:left;
}

.coursework {
    list-style-type: none;
    padding: 15px;
    color: white;
    display: inline-block;
    font-size: 18px;
    text-align: left;
}

.skill-container {
    display: flex;
    justify-content: center;
}

.skill {
    display: list-item;
    width: 400px;
    height: 20px;
    margin: 0;
    padding: 5px;
    color: white;
    font-size: 18px;
}

.skill:hover {
    background-color: #4982c6;
}

.dot {
    height: 10px;
    width: 10px;
    position: relative;
    top: 6px;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    background-color: #FFCB05;
    border-radius: 50%;
    display: inline-block;
}

.project {
    padding-top: 30px;
    text-align:center;
    color: white;
}

.project li {
    margin-bottom:10px;
}

.project .project-title {
    margin: 0;
    vertical-align:top;
    padding: 0;
    width: 200px;
    text-align: left;
    display:inline-block;
}

.project .project-details {
    width: 100%;
    margin-right: 20px;
    max-width: 500px;
    text-align:left;
    display:inline-block;
}

.footer-menu {
    width: auto;
    position: absolute;
    top: 20%;
    margin: 0;
    padding: 0;
    left: 3%;
}

.footer-menu ul li a{
    text-decoration:none;
    color: white;
}

.footer-menu ul li a:hover {
    text-decoration:none;
    color: black;
}

.links {
    position: absolute;
    width: auto;
    left: 70%;
    bottom: 12px;
}

.links a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo {
    //background-color: grey;
    padding: 10px;
    margin: 0;
    height: 30px;
}

.logo:hover {
    filter:invert(100%);
}
