html {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b5598;
    //#236dc6;
    height: 100%;
    width: 100%;
    font-family: "Times New Roman", serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.menu {
  width: 130px;
  text-align:center;
  position: fixed;
  left: 20px;
  top: 0%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.topnav {
    display: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
  margin: 0;
  padding: 0;
}

.topnav li a {
  background-color: #16467e;
  text-align: center;
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.menu .topnav.show {
    display: block;
}

.topnav li a:hover:not(.active) {
    background-color: #1b5598;
}

.topnav li a.active:hover {
  background-color: #ffea97;
}

.topnav li a.active {background-color: #FFCB05; color: black;}

.site-title {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: fit-content;
}

.home-header {
  background-image: url("images/header2.jpeg");
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header > .quote {
  background: rgba(255, 255, 255, .7);
  padding: 40px;
  width: fit-content;
}


.bar {
  background-color: #16467e;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
    background-color: #1b5598;
    position: relative;
    width: 100%;
    top: 100%;
    padding: 0;
    z-index: 1;
}

.home-page .page-header {
    text-align: center;
    font-size: 30px;
    color: #FFCB05;
    padding-top: 20px;
    margin: 0;
}

    .home-page .header-line {
        margin: auto;
        text-align: center;
        background-color: #FFCB05;
        border: none;
        height: 2px;
    }

.values {
    margin: 0;
    color: white;
    display: inline-block;
    width: fit-content;
    padding:30px;
    list-style-type: none;
}

.education {
    color: white;
    text-align:left;
}

.coursework {
    list-style-type: none;
    padding: 15px;
    color: white;
    display: inline-block;
    text-align: left;
}

.skill-container {
    display: flex;
    justify-content: center;
}

.skill {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: list-item;
    width: 350px;
    height: 20px;
    margin: 0;
    padding: 5px;
    color: white;
    transition-duration: 0.5s
}

    .skill:hover {
        background-color: #1b5598;
    }

.dot {
    height: 10px;
    width: 10px;
    position: relative;
    top: 6px;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    background-color: #FFCB05;
    border-radius: 50%;
    display: inline-block;
}

.project {
    padding-top: 30px;
    text-align:center;
    color: white;
}

.project li {
    margin-bottom:10px;
}

.project .project-title {
    margin: 0;
    vertical-align:top;
    padding: 0;
    width: 200px;
    text-align: left;
    display:inline-block;
}

.project .project-details {
    margin-right: 20px;
    max-width: 500px;
    text-align:left;
    display:inline-block;
}

.link {
    text-decoration:none;
    color:#FFCB05;
}

.link:hover {
    color: white;
}

.footer-menu {
    width: auto;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    left: 1%;
}

.footer-menu ul li:not(:last-child) {
    margin-bottom: 6px;
}

.footer-menu ul li a{
    text-decoration:none;
    color: white;
}

.footer-menu ul li a:hover {
    text-decoration:none;
    color: black;
}

.links {
    position: absolute;
    width: fit-content;
    right: 30px;
    bottom: 12px;
}

.links a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.logo {
    //background-color: grey;
    padding: 10px;
    margin: 0;
    height: 30px;
}

.logo:hover {
    filter:invert(100%);
}

#download-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-align: center;
    width: fit-content;
    margin: 0;
}

#download-link:hover {
    color: black;
}