
<!-- Education  -->
<div class="row">
    <h2 id="education">Education</h2>
    <hr class="header-line" style="width:200px;" />
</div>
<div class="col-10 col-sm-4">
    <div class="row justify-content-center">
        <div class="col-4">
            <img class="img-fluid p-3" src="{{education.img}}" alt="University of Michigan logo"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <p>
                University of Michigan, Ann Arbor<br />Class of 2022, &#72onors Program<br />
                L.S.A. &#67omputer Science B.S.<br />G.P.A.: {{education.GPA}}/4.0
            </p>
        </div>
    </div>
</div>
<ul class="col-11 col-sm-8 coursework">
    <li style="font-size:20px;color:#FFCB05;">Relevant Coursework</li>
    {% for course in education.courses %}
        <li>{{course}}</li>
    {% endfor %}
</ul>