{% extends "card_list.html" %}
{% block title %}
Followers
{% endblock title %}
{% block card_list %}
    {% for follower in followers %}
    <div class="card p-2 my-2">
        <div>
            <img alt="{{ follower.username }} PFP" height="30" class="rounded" src="{{ follower.user_img_url }}">
            <a href="/u/{{ follower.username }}/" class="username">{{ follower.username }}</a>
            <span class="float-end">
                {% if logname == follower.username %}
                {% elif follower.logname_follows_username %}
                following <br>
                {% else %}
                not following <br>
                {% endif %}
            </span>
        </div>
    </div>
    {% endfor %}
{% endblock card_list %}