
<!-- Footer  -->
<div class="bar" style="height: 200px;z-index:10;">
    <div class="footer-menu">
        <ul style="list-style-type:none;margin:0;">
            <li><a href="#about">About</a></li>
            <li><a href="#education" id="m-ed">Education</a></li>
            <li><a href="#work">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#extra">Extracurricular</a></li>
            <li><a href="#skills">Skills</a></li>
        </ul>
    </div>
    <div class="site-title" id="footer-title">
        <a href="#top" style="text-decoration:none;color:white;">
            <p>The professional site of</p>
            <h1>Justin Time Hutchins</h1>
        </a>
    </div>
    <i id="tag">&#169 Justin Hutchins 2021</i>
    <div class="links">
        {% include "links.html" %}
    </div>
</div>