
<!-- Page Header  -->
<div class="home-header" id="top">
    <div class="site-title fade-in">
        <p style="cursor:default;">The professional site of</p>
        <h1 style="cursor:default;">Justin Time Hutchins</h1>
        <div>
            {% include "links.html" %}
        </div>
        <a href="static/files/Justin_Hutchins_Resume.pdf" class="link" id="header-resume-link" target="_blank">Resume</a>
    </div>
    <span id="arrow-wrapper" class="fade-in">
            <a href="#about" id="pointing-arrow">&#xFE40</a>
        </span>
    <div id="header-image"></div>
</div>