
<!-- Page Header  -->
<div class="home-header" id="top">
    <div class="site-title fade-in">
        <p style="cursor:default;">The professional site of</p>
        <h1 style="cursor:default;">Justin Time Hutchins</h1>
        <div>
            <a href="https://github.com/jushutch" target="_blank">
                <img class="logo" alt="Find me on Github" src="static/images/GitHub-Mark-Light-120px-plus.png" />
            </a>
            <a href="mailto:jushutch@umich.edu" target="_blank">
                <img class="logo" alt="Email me" src="static/images/gmail_logo.png" />
            </a>
            <a href="https://www.linkedin.com/in/jushutch/" target="_blank">
                <img class="logo" alt="Find me on LinkedIn" src="static/images/LI-In-Bug-White.png" />
            </a>
        </div>
        <a href="static/files/Justin_Hutchins_Resume.pdf" class="link" id="header-resume-link" target="_blank">Resume</a>
    </div>
    <span id="arrow-wrapper" class="fade-in">
            <a href="#about" id="pointing-arrow">&#xFE40</a>
        </span>
    <div id="header-image"></div>
</div>