
<nav class="menu">
    <img onClick="toggleMenu()" id="menu-button" alt="Menu" src="static/images/menu_icon.png">
    <ul id="topnav" class="topnav">
        <li><a href="#about" id="aboutMenu">About</a></li>
        <li><a href="#education" id="edMenu">Education</a></li>
        <li><a href="#work" id="workMenu">Experience</a></li>
        <li><a href="#projects" id="projMenu">Projects</a></li>
        <li><a href="#extra" id="extraMenu">Extracurricular</a></li>
        <li><a href="#skills" id="skillMenu">Skills</a></li>
    </ul>
</nav>