{% extends "base.html" %}
{% block content %}
	<div class="container">
		<span class="username" style="font-size: xx-large;">{{ username }}</span><br>
		{% if logname == username %}
		{% elif logname_follows_username %}
		following <br>
		{% else %}
		not following <br>
		{% endif %}
		{{ total_posts }} {{ 'post' if total_posts == 1 else 'posts' }}
		<a href="/u/{{ username }}/followers/" style="font-weight: bold;">{{ followers }} {{ 'follower' if followers == 1 else 'followers' }}</a>
		<a href="/u/{{ username }}/following/" style="font-weight: bold;">{{ following }} following</a>
		<br>
		{{ fullname }} <br>
		<div class="text-center">
			<div class="container">
				<div class="row">
					{% for post in posts %}
					<div class="col-4 p-4">
						<a href="/p/{{ post.postid }}/">
							<img alt='{{ post.postid }}' class="rounded img-fluid" height="250" src="{{ post.img_url }}">
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
